<h1>Editing ad_group</h1>

<%= render 'form' %>

<div class="centrar">
  <%= link_to 'Back', @ad_group, class: "button_navegacion"  %>
  <%= link_to 'Back', ad_groups_path, class: "button_navegacion"  %>  
</div>