<h1>Editing adword_text</h1>

<%= render 'form' %>

<div class="centrar">
  <%= link_to 'Show', @adword_text, class: "button_navegacion"  %> 
  <%= link_to 'Back', adword_texts_path, class: "button_navegacion"  %>   
</div>