<h1>Editing campaing</h1>

<%= render 'form' %>

<div class="centrar">
  <%= link_to 'Show', @campaing, class: "button_navegacion" %>
  <%= link_to 'Back', campaings_path, class: "button_navegacion" %>
</div>