<h1>Editing keyword</h1>

<%= render 'form' %>

<div class="centrar">
  <%= link_to 'Show', @keyword, class: "button_navegacion"  %>
  <%= link_to 'Back', keywords_path, class: "button_navegacion"  %>  
</div>