<h1>Editing account</h1>

<%= render 'form' %>


<div class="centrar">
  <%= link_to 'Show', @account, class: "button_navegacion"  %>
  <%= link_to 'Back', accounts_path, class: "button_navegacion"  %>  
</div>